@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


:root{
  --my-white : #fff;
  --primary--orange :#FF4500;
  --primary--dark: rgb(255,255,225,0);
}

body{
  font-family: "Roboto Condesed" sans-serif;
}

/**************NavBar Logo*******************/

.logo {
  width: 12.375rem;
}

/*****************Menu Links************************/
nav a.nav-link {
  /* font-weight: 500; */

  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
   text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--my-white) !important;
    border-top:0.1875rem solid var(--primary--dark);
    
}

.navbar-rand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top:0.1875rem solid var(--primary--orange) ;
}

.navbar-nav > li > a:hover{
  border-top:0.1875rem solid var(--primary--orange) ;
}